/* /=============== GOOGLE FONTS ===============/ */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@400;500;600&display=swap");

/* /=============== VARIABLES CSS ===============/ */
:root {
  --header-height: 3.5rem;
  --border-section: 56px 56px 0 0;

  /* /========== Colors ==========/ */
  color: mode HSL(hue, saturation, lightness);
  --first-color: hsl(12, 32%, 22%);
  --first-color-alt: hsl(12, 42%, 12%);
  --first-color-light: hsl(12, 24%, 32%);
  --second-color: hsl(39, 62%, 65%);
  --title-color: hsl(12, 12%, 16%);
  --text-color: hsl(12, 12%, 32%);
  --text-color-light: hsl(12, 8%, 48%);
  --white-color: #fff;

  /* /========== Font and typography ==========/
  /.5rem = 8px | 1rem = 16px .../ */
  --body-font: "Poppins", sans-serif;
  --second-font: "Pacifico", cursive;
  --biggest-font-size: 2.75rem;
  --big-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* /========== Font weight ==========/ */
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /* /========== z index ==========/ */
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* /========== Responsive typography ==========/ */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 4.5rem;
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/* /=============== BASE ===============/ */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--white-color);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* /=============== REUSABLE CSS CLASSES ===============/ */
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 4.5rem 3.5rem;
}

.section__title {
  color: var(--title-color);
  font-size: var(--big-font-size);
  font-family: var(--second-font);
  font-weight: var(--font-regular);
  line-height: 120%;
  text-align: center;
  margin-bottom: 1.5rem;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/* /=============== HEADER & NAV ===============/ */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--first-color);
  z-index: var(--z-fixed);
  transition: background 0.4s, box-shadow 0.4s;
}

.header__border {
  width: 100%;
  height: 2px;
  background-image: linear-gradient(
    90deg,
    var(--text-color-light) 50%,
    transparent 50%
  );
  background-size: 24px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: opacity 0.3s;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__logo {
  color: var(--white-color);
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-size: var(--h3-font-size);
  font-family: var(--second-font);
}

.nav__logo img {
  width: 28px;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    bottom: 0;
    background: linear-gradient(
      180deg,
      var(--first-color) 0%,
      var(--first-color-alt) 100%
    );
    border-radius: 56px 56px 0 0;
    box-shadow: 0 -2px 12px hsla(12, 32%, 12%, 0.3);
    width: 100%;
    padding: 1.25rem 4rem;
  }
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: var(--white-color);
  font-family: var(--second-font);
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.25rem;
  transition: color 0.3s;
}

.nav__link i {
  background: linear-gradient(
    180deg,
    hsl(39, 62%, 75%) 0%,
    hsl(39, 62%, 45%) 100%
  );
  color: transparent;
  --webkit-background-clip: text;
  font-size: 1.5rem;
}

.nav__link:hover {
  color: var(--second-color);
}

/* Change background header */
.scroll-header {
  box-shadow: 0 2px 8px hsla(12, 32%, 12%, 0.5);
}

.scroll-header .header__border {
  opacity: 0;
}

/* Active link */
.active-link {
  color: var(--second-color);
}

#searchInput {
  width: 300px;
  height: 40px;
  padding: 5px;
  margin: 10px;
  background-color: #E2C799;
  border-radius: 50px;
  box-shadow: 0 8px 32px hsla(39, 62%, 65%, 0.212);

}

#searchInput:hover{
  background-color: #EAD7BB;
}

#searchInput:focus{
  background-color: #FFF2D8;
}

#wordList {
  list-style: none;
  padding: 0;
}

#wordList li {
  margin: 5px;
  padding: 5px;
}
::placeholder{
  color: rgb(128, 128, 128);
}
/* /=============== HOME ===============/ */
.home {
  background: linear-gradient(
    180deg,
    var(--first-color) 0%,
    var(--first-color-alt) 100%
  );
}

.home__container {
  padding-top: 2rem;
  row-gap: 2rem;
}

.home__data {
  text-align: center;
}

.home__subtitle {
  font-size: var(--normal-font-size);
  color: var(--second-color);
  font-weight: var(--font-medium);
  margin-bottom: 0.75rem;
}

.home__title,
.home__description {
  color: var(--white-color);
}

.home__title {
  text-align: initial;
  font-size: var(--biggest-font-size);
  /* font-style: var(--biggest-font-size); */
  font-family: var(--second-font);
  font-weight: var(--font-regular);
  line-height: 120%;
  margin: 0 auto 2rem;
  position: relative;
  width: max-content;
}

.home__title img {
  width: 80px;
  position: absolute;
  right: -1rem;
  bottom: -1.25rem;
}

.home__description {
  margin-bottom: 2rem;
}

.home__img {
  width: 320px;
  justify-self: center;
}

/* /=============== BUTTON ===============/ */
.button {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  background-color: var(--second-color);
  padding: 1rem 1.5rem;
  border-radius: 4rem;
  color: var(--title-color);
  font-weight: var(--font-medium);
  box-shadow: 0 8px 32px hsla(39, 62%, 65%, 0.25);
  transition: box-shadow 0.3s;
}

.button i {
  font-size: 1.5rem;
  transition: transfrom 0.3s;
}

.button:hover {
  box-shadow: 0 8px 48px hsla(39, 62%, 65%, 0.3);
}

.button:hover i {
  transform: translateX(0.25rem);
}

/* /=============== kamus ===============/ */
.kamus {
  background: var(--first-color);
  position: relative;
}

.kamus__kamus {
  background: var(--first-color-alt);
  position: relative;
}

.kamus__bg {
  background-color: var(--white-color);
  border-radius: var(--border-section);
}

.kamus__container {
  row-gap: 3rem;
}

.kamus__data {
  text-align: left;
}

hr {
  border: 1px solid var(--first-color);
  width: 200px;
}

a {
  color: var(--first-color);
}

.kamus__img {
  width: 320px;
  border-radius: 1rem;
  justify-self: center;
}

.kamus {
  background-color: var(--white-color);
}

.kamus__bg {
  background-color: var(--white-color);
  border-radius: var(--border-section);
  width: 100%;
  height: 400%;
}

.kamus__container {
  row-gap: 3rem;
}

.kamus__data {
  text-align: left;
}

.section__title {
  color: #0b0b0b;
}

.kamus__nama {
  font-weight: var(--font-medium);
}

.kamus_alfabet {
  margin-left: 100px;
  font-size: large;
}

/* ================== alfabet kamus ===================== */
.kamus_a{
  color: var(--first-color);
}

/* .kamus_a:hover{
  font-size: larger;
  transition: 0,5s;
} */

.kamus_b{
  color: var(--first-color);
}

/* .kamus_b:hover{
  font-size: larger;
} */

.kamus_c{
  color: var(--first-color);
}

/* .kamus_c:hover{
  font-size: larger;
} */

.kamus_d{
  color: var(--first-color);
}

/* .kamus_d:hover{
  font-size: larger;
} */

.kamus_e{
  color: var(--first-color);
}

/* .kamus_e:hover{
  font-size: larger;
} */

.kamus_f{
  color: var(--first-color);
}

/* .kamus_f:hover{
  font-size: larger;
} */

.kamus_g{
  color: var(--first-color);
}

/* .kamus_g:hover{
  font-size: larger;
} */

.kamus_h{
  color: var(--first-color);
}

/* .kamus_h:hover{
  font-size: larger;
} */

.kamus_i{
  color: var(--first-color);
}

/* .kamus_i:hover{
  font-size: larger;
} */

.kamus_j{
  color: var(--first-color);
}

/* .kamus_j:hover{
  font-size: larger;
} */

.kamus_k{
  color: var(--first-color);
}

/* .kamus_k:hover{
  font-size: larger;
} */

.kamus_l{
  color: var(--first-color);
}

/* .kamus_l:hover{
  font-size: larger;
} */

.kamus_m{
  color: var(--first-color);
}

/* .kamus_m:hover{
  font-size: larger;
} */

.kamus_n{
  color: var(--first-color);
}

/* .kamus_n:hover{
  font-size: larger;
} */

.kamus_o{
  color: var(--first-color);
}

/* .kamus_o:hover{
  font-size: larger;
} */

.kamus_p{
  color: var(--first-color);
}

/* .kamus_p:hover{
  font-size: larger;
} */

.kamus_q{
  color: var(--first-color);
}

/* .kamus_q:hover{
  font-size: larger;
} */

.kamus_r{
  color: var(--first-color);
}

/* .kamus_r:hover{
  font-size: larger;
} */

.kamus_s{
  color: var(--first-color);
}

/* .kamus_s:hover{
  font-size: larger;
} */

.kamus_t{
  color: var(--first-color);
}

/* .kamus_t:hover{
  font-size: larger;
} */

.kamus_u{
  color: var(--first-color);
}

/* .kamus_u:hover{
  font-size: larger;
} */

.kamus_v{
  color: var(--first-color);
}

/* .kamus_v:hover{
  font-size: larger;
} */

.kamus_w{
  color: var(--first-color);
}

/* .kamus_w:hover{
  font-size: larger;
} */

.kamus_x{
  color: var(--first-color);
}

/* .kamus_x:hover{
  font-size: larger;
} */

.kamus_y{
  color: var(--first-color);
}

/* .kamus_y:hover{
  font-size: larger;
} */

.kamus_z{
  color: var(--first-color);
}

/* .kamus_z:hover{
  font-size: larger;
} */

/* ================= kamus atribut ================= */
.Kamus__img {
  width: 320px;
  border-radius: 1rem;
  justify-self: center;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  font-family: var(--body-font);
  font-size: small;
  visibility: hidden;
  width: 200px;
  background-color: #341717;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

 
#A {
  margin-top: 50px;
  text-decoration: none;
  color: var(--first-color);
  text-align: center;
}

.title {
  margin-left: 5px;
}

/* /=============== FOOTER ===============/ */
.footer{
  background-color: var(--white-color);
  position: relative;
}

.footer__bg{
  background-color: var(--first-color-alt);
  border-radius: var(--border-section);
}

.footer__container{
  padding-block: 4rem 7rem;
  row-gap: 4.5rem;
  position: relative;
}

.footer__data{
  text-align: center;
  row-gap: 4.5rem;
}

.footer__logo,
.footer__title,
.footer__input,
.footer__description,
.footer__social-link{
  color: var(--white-color);
}

.footer__logo{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  font-size: var(--h3-font-size);
  font-family: var(--second-font);
  margin-bottom: 1rem;
}

.footer__logo img{
  width: 28px;
}

.footer__title{
  font-size: var(--big-font-size);
  font-family: var(--second-font);
  font-weight: var(--font-regular);
  line-height: 120%;
}

.footer__form{
  row-gap: 1rem;
}

.footer__input,
.footer__button{
  border: none;
  outline: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.footer__input{
  width: 100%;
  background: transparent;
  border: 2px solid var(--text-color-light);
  padding: 1.15rem 1.5rem;
  border-radius: 4rem;
}

.footer__input::placeholder{
  color: var(--text-color-light);
}

.footer__button{
  padding-block: 1.25rem;
  justify-content: center;
  cursor: pointer;
}

.footer__description{
  font-size: var(--small-font-size);
}

.footer__privacy{
  color: var(--second-color);
}

.footer__privacy:hover{
  text-decoration: underline;
}

.footer__content{
  row-gap: 2rem;
}

.footer__social{
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}

.footer__social-link{
  font-size: 1.25rem;
  transition: color .3s;
}

.footer__social-link:hover{
  color: var(--second-color);
}

.footer__copy{
  color: var(--text-color-light);
  font-size: var(--smaller-font-size);
  text-align: center;
}

.footer__bg-img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: -172px;
  opacity: .15;
}

/* /=============== SCROLL BAR ===============/ */
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: hsl(12, 8%, 65%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(12, 8%, 45%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(12, 8%, 35%);
}

/* /=============== SCROLL UP & down ===============/ */
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background: linear-gradient(
    180deg,
    var(--first-color) 0%,
    var(--first-color-alt) 100%
  );
  box-shadow: 0 0 8px hsla(12, 32%, 12%, 0.5);
  color: var(--white-color);
  font-size: 1.1rem;
  display: inline-flex;
  padding: 0.6rem;
  border-radius: 50%;
  z-index: var(--z-tooltip);
  transition: bottom 0.5s, transform 0.3s;
}

.scrollup:hover {
  transform: translateY(-0.25rem);
}

/* Show Scroll Up */
.show-scroll {
  bottom: 7rem;
}

/* /=============== BREAKPOINTS ===============/ */
/* For small devices */
@media screen and (max-width: 300px) {
  .container {
    margin-inline: 1rem;
  }

  .nav__menu {
    padding-inline: 3rem;
  }

  .home__title {
    width: 220px;
    text-align: center;
  }

  .home__title img {
    bottom: 2.5 rem;
    
  }

  #A {
    text-align: center;
  }
}

@media screen and (min-width: 400px) {
}

/* For medium devices */
@media screen and(min-width: 576px) {
  .nav__menu {
    width: 376px;
  }

   

  .home__container,
  .kamus__container,
  .footer__container {
    grid-template-columns: 400px;
    justify-content: center;
  }
}

/* For large devices */
@media screen and (min-width: 1023px) {
  .section {
    padding-block: 7.5rem 5.5rem;
    --border-section: 104px 104px 0 0;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
    justify-content: space-between;
  }

  .nav__logo img {
    width: 32px;
  }

  .nav__menu {
    width: initial;
  }

  .nav__list {
    column-gap: 4.5rem;
  }

  .nav__link {
    font-size: var(--normal-font-size);
  }

  .nav__link {
    display: none;
  }

  .home__container {
    grid-template-columns: max-content 440px;
    align-items: center;
    padding-top: 3rem;
  }
  .home__img {
    order: -1;
    width: 450px;
  }
  .home__data {
    text-align: initial;
  }
  .home__title img {
    width: 120px;
  }
  .home__description {
    margin-bottom: 3rem;
  }

  .kamus__container {
    grid-template-columns: max-content 460px;
    align-items: center;
  }
  .kamus__img {
    order: -1;
    width: 450px;
  }
  .kamus__data,
  .kamus_data .section_title {
    text-align: initial;
  }

  .footer__container {
    grid-template-columns: initial;
    justify-content: initial;
    row-gap: 6rem;
    padding-block: 6rem 3rem;
  }
  .footer__data {
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    text-align: initial;
  }
  .footer__logo {
    margin-bottom: 1.5rem;
  }
  .footer__logo img {
    width: 32px;
  }
  .footer__title {
    font-size: var(--h1-font-size);
  }
  .footer__form {
    width: 360px;
    row-gap: 1.5rem;
  }
  .footer__content {
    row-gap: 4rem;
  }
  .footer__social {
    column-gap: 3rem;
  }
  .footer__social-link {
    font-size: 1.5rem;
  }
  .footer__bg-img {
    object-position: top;
  }

  .scrollup {
    right: 3rem;
  }
  .show-scroll {
    bottom: 3rem;
  }

}

@media screen and (min-width: 1152px) {
  .container {
    margin-inline: auto;
  }
}

@media screen and (min-width: 1248px) {
  .home__container {
    column-gap: 4.5rem;
  }
  .home__img {
    width: 550px;
  }

  .kamus__container {
    column-gap: 6.5rem;
  }
  .kamus__img {
    width: 550px;
  }
}
